.img-bienvenido {
    height: 100vh;
    width: 100vw;
}

.contenedor_info {
    align-items: center;
    text-align: center !important;
    background-color: #E6E6E6;
}

.logo_press {
   margin: 50px auto;
}


.titulo_bienvenido {
   margin-top: 30px;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   color: #04324D;
}

.contenedor_botones_bienvenido {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   margin-top: 100px;
   align-items: center;
}


.botones_bienvenido {
    width: 200px;
    padding: 10px 20px;
    border: 2px solid #04324D;
    background-color: #39A900; /* Fondo verde */
    color: white; /* Texto azul oscuro */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
}

.botones_bienvenido:hover {
    border: 2px  #39A900; /* Borde azul oscuro */
    background-color: white; /* Fondo blanco */
    color: #04324D; /* Texto azul oscuro */
}

.botones_bienvenido:active {
    border: 2px solid  #39A900; /* Borde azul sólido */
    background-color: white; /* Fondo blanco */
    color: #04324D; /* Texto azul oscuro */

}


.cerrar_sesion {
    margin-top: 80px;
}

@media (max-height: 700px){
    .cerrar_sesion {
        margin-top: 40px;
    }
}