{% extends 'nomina/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block titulo %}Nóminas{% endblock %}
{% block contenedor %}

<style>
/* Estilos globales */
body {
    background-color:  #04324D  /* Fondo gris suave */
     font-family: 'Roboto', sans-serif;
     font-weight: 400; /* Simula negrita, pero el efecto puede variar */
     font-size: 20px;/*tamaño de letra*/
     color:black;/*color de letra*/
}

/* Barra de navegación */
.navbar {
    background-color: #04324D; /* Fondo gris oscuro */
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Contenedor de la navbar */
.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Título principal */
.titulo {
    font-size: 32px;
    font-weight: 700;
    color: #39A900; /* verde */
    letter-spacing: 1px;
}

/* Hover sobre el título */
.titulo:hover {
    color: white; /* blanco */
}

/* Botones */
.boton_regresar, .boton_mas {
  font-size: 25px;
        color: white; /* Cambiado a blanco para contraste */
        background-color: #39A900; /* Color rojo de fondo */
        font-family: 'Roboto', sans-serif;
        border: 2px solid white; /* Borde blanco de 2px */
        padding: 10px 20px;
        margin-top: 20px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px; /* Bordes redondeados */
        transition: background-color 0.3s, color 0.3s; /* Suaviza la transición */
        font-family: 'Roboto', sans-serif;


}

 .boton_regresar:hover, .boton_mas:hover {
        background-color: white ; /* Cambia el fondo a blanco al hacer hover */
        color: #39A900; /* Cambia el color del texto a rojo al hacer hover */
    }

/* Estilo para los iconos */
 .boton_mas:hover{
     background-color: #39A900;
     color:white;
    }
    .boton_mas i {
        font-size: 25px;
        color: white; /* Color blanco del icono */
    }

/* Contenido de la tabla */
.nomina-listar-tabla {
    margin-top: 105px; /* Espacio debajo de la navbar */
}

.titulo_nomina {
    font-size: 30px;
    font-weight: 600;
    color: #34495e; /* Gris oscuro */
    margin-bottom: 20px;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
}

/* Encabezado de la tabla */
th {
    background-color: #04324D; /* Azul */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
     font-size: 20px;/*tamaño de letra*/
}

td {
    background-color:#E6E6E6;
}

td:hover {
    background-color:#E6E6E6; /* Gris claro */
}

/* Fila de tabla fija */
table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Botón de scroll hacia abajo */
#scrollToEndBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 15px;
    background-color: #2980b9; /* Azul */
    color: white;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#scrollToEndBtn:hover {
    background-color: #E6E6E6; /* Azul claro */
}

/* Modal de Recibo */
.modal-content {
    border-radius: 8px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-header {
    font-size: 34px;
    font-weight: 700;
    color: #34495e; /* Gris oscuro */
    border-bottom: 1px solid #ddd;
}

.modal-body {
    font-size: 38px;
    color: #555;
}

/* Estilo para la sección de tabla */
.table-responsive {
    max-height: 500px;
    overflow-y: auto;
}






</style>

<body>

    <nav class="navbar navbar-expand-lg" style="background-color:  #04324D; ">
        <div class="container-fluid align-items-center" >
            <div>
                <button class="btn btn-light transition duration-300 ease-in-out boton_regresar" onclick="window.history.back();">
                   <i class="fa-solid fa-reply"></i>   Regresar
                </button>
                <a class="btn transition duration-300 ease-in-out boton_mas" href="{% url 'nomina:index' %}">
                    <i class="bi bi-house-fill"></i>
                </a>
            </div>
            <h1 class="titulo">Nómina</h1>
            {% if request.session.logueo.nombre_rol == "Administrador" %}
            <a href="{% url 'nomina:export_nominas_to_excel' nominas.0.fecha_nomina %}" class="btn btn-success">
                Descargar informe de nómina en Excel <i class="fa-solid fa-download"></i>
            </a>
            {% endif %}
        </div>
    </nav>

    {% if mensaje %}
        <div class="alert alert-warning">{{ mensaje }}</div>
    {% endif %}

    {% if nominas %}
    {% if request.session.logueo.nombre_rol == "Administrador" %}
        <div class="nomina-listar-tabla"  >
            <table>
                <tr style="color:black;">
                    <th>Fecha: </th>
                    <td>{{ nominas.0.fecha_nomina }}</td>
                </tr>
            </table>
            <table width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th colspan="11">Información del colaborador</th>
                    <th colspan="11">Devengados</th>
                    <th colspan="9">Deducciones</th>
                    <th>Total</th>
                    <th colspan="3">Acciones</th>
                </tr>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cargo</th>
                    <th>Salario</th>
                    <th>Días trabajados</th>
                    <th>Días de incapacidad</th>
                    <th>IBC</th>
                    <th>Valor incapacidad</th>
                    <th>Sueldo</th>
                    <th>Auxilio de Transporte</th>
                    <th>Valor H.E. Diurnas</th>
                    <th>Valor H.E. Diurnas Dom/Fes</th>
                    <th>Valor H.E. Nocturnas</th>
                    <th>Valor H.E. Nocturnas Dom/Fes</th>
                    <th>Valor Recargo Nocturno</th>
                    <th>Valor Recargo Nocturno Dom/Fes</th>
                    <th>Valor Recargo Diurno Dom/Fes</th>
                    <th>Total H.E. y Recargos</th>
                    <th>Comisiones</th>
                    <th>Bonificaciones</th>
                    <th>Total Devengado</th>
                    <th>Salud</th>
                    <th>Pensión</th>
                    <th>F.S.P</th>
                    <th>Retefuente</th>
                    <th>Embargos Judiciales</th>
                    <th>Libranzas</th>
                    <th>Cooperativas</th>
                    <th>Otros</th>
                    <th>Total Deducciones</th>
                    <th>Total a Pagar</th>
                    <th>Recibo</th>
                    <th>Parafiscales</th>
                    <th>Provisiones</th>
                </tr>
                </thead>
                <tbody>
                {% for nomina in nominas %}
                <tr>
                    <td>{{ nomina.novedad.usuario.cedula }}</td>
                    <td>{{ nomina.novedad.usuario.nombre }}</td>
                    <td>{{ nomina.novedad.usuario.apellido }}</td>
                    <td>{{ nomina.novedad.usuario.cargo }}</td>
                    <td>{{ nomina.novedad.usuario.salario|intcomma|round_number:2 }}</td>
                    <td>{{ nomina.novedad.dias_trabajados }}</td>
                    <td>{{ nomina.novedad.dias_incapacidad|default:0 }}</td>
                    <td>{{ nomina.devengado.ibc|round_number:2|intcomma }}</td>
                    <td>{{ nomina.devengado.valor_incapacidad|round_number:2|intcomma }}</td>
                    <td>{{ nomina.devengado.sueldo|round_number:2|intcomma }}</td>
                    <td>{{ nomina.devengado.auxilio_transporte|round_number:2|intcomma }}</td>
                    <td>{{ nomina.devengado.valor_horas_extras_diurnas|round_number:2|intcomma }}</td>
                    <td>{{ nomina.devengado.valor_horas_extras_diurnas_dom_fes|round_number:2|intcomma }}
                    </td>
                    <td>{{ nomina.devengado.valor_horas_extras_nocturnas|round_number:2|intcomma}}</td>
                    <td>{{ nomina.devengado.valor_horas_extras_nocturnas_dom_fes|round_number:2|intcomma }}
                    </td>
                    <td>{{ nomina.devengado.valor_horas_recargo_nocturno|round_number:2|intcomma }}</td>
                    <td>{{ nomina.devengado.valor_horas_recargo_nocturno_dom_fes|round_number:2|intcomma }}
                    </td>
                    <td>{{ nomina.devengado.valor_horas_recargo_diurno_dom_fes|round_number:2|intcomma }}
                    </td>
                    <td>{{ nomina.devengado.total_horas_extras_recargo|round_number:2|intcomma }}</td>
                    <td>{{ nomina.devengado.comisiones_valor|round_number:2|intcomma }}</td>
                    <td>{{ nomina.novedad.bonificaciones|round_number:2|default:0|intcomma }}</td>
                    <td><strong>{{ nomina.devengado.total_devengado|round_number:2|intcomma }}</strong></td>
                    <td>{{ nomina.deduccion.salud|round_number:2|intcomma }}</td>
                    <td>{{ nomina.deduccion.pension|round_number:2|intcomma }}</td>
                    <td>{{ nomina.deduccion.fsp|round_number:2|intcomma }}</td>
                    <td>{{ nomina.deduccion.retefuente|default:""|intcomma }}</td>
                    <td>{{ nomina.deduccion.embargos_judiciales|round_number:2|intcomma|default:0 }}
                    </td>
                    <td>{{ nomina.deduccion.libranzas|round_number:2|intcomma|default:0 }}</td>
                    <td>{{ nomina.deduccion.cooperativas|round_number:2|intcomma|default:0 }}</td>
                    <td>{{ nomina.deduccion.otros|round_number:2|intcomma|default:0 }}</td>
                    <td><strong>{{ nomina.deduccion.total_deduccion|round_number:2|intcomma }}</strong></td>
                    <td><strong>{{ nomina.total_a_pagar|round_number:2|intcomma }}</strong></td>
                    <td>
                        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#reciboModal"
                                data-id="{{ nomina.id }}" onclick="showReciboModal({{ nomina.id }})"  style="color:white; font-size: 16px;">
                            Previsualizar
                            <i class="fa-solid fa-file-pdf"></i>

                        </button>
                    </td>
                    <td>
                        <a href="{% url 'nomina:parafiscales' nomina.id %}" class="btn btn-primary" style="font-size: 16px;">
                            Ver parafiscales
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'nomina:provisiones' nomina.id %}" class="btn btn-primary" style="font-size: 16px;">
                            Ver provisiones
                        </a>
                    </td>

                    <!-- Porcentaje incapacidad Modal -->
                </tr>
                {% endfor %}

                <!-- Recibo Modal -->
                <div class="modal fade" id="reciboModal" tabindex="-1" aria-labelledby="reciboModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reciboModalLabel">Recibo de Nómina </h5>
                                <button style="margin-left: 5px;" title="Para descargar el recibo, presiona el botón descargar con el ícono de la flecha hacia abajo">
                                    <i class="fa-solid fa-circle-info"></i>
                                </button>
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <iframe id="reciboIframe" src="" width="100%" height="500px" style="border: none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                </tbody>
            </table>
        </div>
    {% else %}
        <div class="nomina-listar-tabla card shadow mb-4">
            <table>
                <thead class="encabezado-tabla">
                <tr>
                    <th>ID Usuario</th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cargo</th>
                    <th>Salario</th>
                    <th>Días trabajados</th>
                    <th>Días de incapacidad</th>
                    <th>IBC</th>
                    <th>Valor incapacidad</th>
                    <th>Sueldo</th>
                    <th>Auxilio de Transporte</th>
                    <th>Valor H.E. Diurnas</th>
                    <th>Valor H.E. Diurnas Dom/Fes</th>
                    <th>Valor H.E. Nocturnas</th>
                    <th>Valor H.E. Nocturnas Dom/Fes</th>
                    <th>Valor Recargo Nocturno</th>
                    <th>Valor Recargo Nocturno Dom/Fes</th>
                    <th>Valor Recargo Diurno Dom/Fes</th>
                    <th>Total H.E. y Recargos</th>
                    <th>Comisiones</th>
                    <th>Bonificaciones</th>
                    <th>Total Devengado</th>
                    <th>Salud</th>
                    <th>Pensión</th>
                    <th>F.S.P</th>
                    <th>Retefuente</th>
                    <th>Embargos Judiciales</th>
                    <th>Libranzas</th>
                    <th>Cooperativas</th>
                    <th>Otros</th>
                    <th>Total Deducciones</th>
                    <th>Total a Pagar</th>
                    <th colspan="3">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for nomina in nominas %}
                    <tr>
                        <td>{{ nomina.novedad.usuario.id }}</td>
                        <td>{{ nomina.novedad.usuario.cedula }}</td>
                        <td>{{ nomina.novedad.usuario.nombre }}</td>
                        <td>{{ nomina.novedad.usuario.apellido }}</td>
                        <td>{{ nomina.novedad.usuario.cargo }}</td>
                        <td>{{ nomina.novedad.usuario.salario|intcomma|round_number:2 }}</td>
                        <td>{{ nomina.novedad.dias_trabajados }}</td>
                        <td>{{ nomina.novedad.dias_incapacidad|default:0 }}</td>
                        <td>{{ nomina.devengado.ibc|round_number:2|intcomma }}</td>
                        <td>{{ nomina.devengado.valor_incapacidad|round_number:2|intcomma }}</td>
                        <td>{{ nomina.devengado.sueldo|round_number:2|intcomma }}</td>
                        <td>{{ nomina.devengado.auxilio_transporte|round_number:2|intcomma }}</td>
                        <td>{{ nomina.devengado.valor_horas_extras_diurnas|round_number:2|intcomma }}</td>
                        <td>{{ nomina.devengado.valor_horas_extras_diurnas_dom_fes|round_number:2|intcomma }}
                        </td>
                        <td>{{ nomina.devengado.valor_horas_extras_nocturnas|round_number:2|intcomma}}</td>
                        <td>{{ nomina.devengado.valor_horas_extras_nocturnas_dom_fes|round_number:2|intcomma }}
                        </td>
                        <td>{{ nomina.devengado.valor_horas_recargo_nocturno|round_number:2|intcomma }}</td>
                        <td>{{ nomina.devengado.valor_horas_recargo_nocturno_dom_fes|round_number:2|intcomma }}
                        </td>
                        <td>{{ nomina.devengado.valor_horas_recargo_diurno_dom_fes|round_number:2|intcomma }}
                        </td>
                        <td>{{ nomina.devengado.total_horas_extras_recargo|round_number:2|intcomma }}</td>
                        <td>{{ nomina.devengado.comisiones_valor|round_number:2|intcomma }}</td>
                        <td>{{ nomina.novedad.bonificaciones|round_number:2|default:0|intcomma }}</td>
                        <td>{{ nomina.devengado.total_devengado|round_number:2|intcomma }}</td>
                        <td>{{ nomina.deduccion.salud|round_number:2|intcomma }}</td>
                        <td>{{ nomina.deduccion.pension|round_number:2|intcomma }}</td>
                        <td>{{ nomina.deduccion.fsp|round_number:2|intcomma }}</td>
                        <td>{{ nomina.deduccion.retefuente|default:""|intcomma }}</td>
                        <td>{{ nomina.deduccion.embargos_judiciales|round_number:2|intcomma|default:0 }}
                        </td>
                        <td>{{ nomina.deduccion.libranzas|round_number:2|intcomma|default:0 }}</td>
                        <td>{{ nomina.deduccion.cooperativas|round_number:2|intcomma|default:0 }}</td>
                        <td>{{ nomina.deduccion.otros|round_number:2|intcomma|default:0 }}</td>
                        <td>{{ nomina.deduccion.total_deduccion|round_number:2|intcomma }}</td>
                        <td>{{ nomina.total_a_pagar|round_number:2|intcomma }}</td>
                        <td>
                            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#reciboModal"
                                    data-id="{{ nomina.id }}" onclick="showReciboModal({{ nomina.id }})">
                                Previsualizar
                                <i class="fa-solid fa-file-pdf"></i>

                            </button>
                        </td>
                        <td>
                            <a href="{% url 'nomina:parafiscales' nomina.id %}" class="btn btn-primary">
                                Ver parafiscales
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'nomina:provisiones' nomina.id %}" class="btn btn-primary">
                                Ver provisiones
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <div class="modal fade" id="reciboModal" tabindex="-1" aria-labelledby="reciboModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reciboModalLabel">Recibo de Nómina</h5>
                                    <button style="margin-left: 5px;" title="Para descargar el recibo, presiona el botón descargar con el ícono de la flecha hacia abajo">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe id="reciboIframe" src="" width="100%" height="500px" style="border: none;"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
        {% endif %}
    {% endif %}
<script>
    document.getElementById('scrollToEndBtn').addEventListener('click', function() {
        // Revisamos si existe un desplazamiento horizontal disponible
        if (document.body.scrollWidth > window.innerWidth) {
            window.scrollTo({
                left: document.body.scrollWidth,  // Desplazarse al final horizontalmente
                behavior: 'smooth'  // Movimiento suave
            });
        } else {
            alert("No hay contenido horizontal para desplazar");
        }
    });

    function showReciboModal(nominaId) {
        const iframe = document.getElementById('reciboIframe');
        iframe.src = '/recibo/' + nominaId + '/';
        const descargarBtn = document.getElementById('descargarLiquidacionBtn');
        descargarBtn.href = '/descargar/' + nominaId + '/';
    }

</script>
</body>
{% endblock %}